<div>
    <br />
    <h1>Admin Panel</h1>
    <br />
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-shadow">
            <div class="card-body">
                <h5 class="card-title">Order Processing</h5>
                <p class="card-text">Orders that are missing a aliexpress order id.</p>
                <a href="/admin/orderprocessing" class="btn btn-primary pull-right">Go to processing</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-shadow">
            <div class="card-body">
                <h5 class="card-title">Order shipping</h5>
                <p class="card-text">Orders that are missing a shipping number.    </p>
                <a href="/admin/ordershipping" class="btn btn-primary pull-right">Go to shipping</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-shadow">
            <div class="card-body">
                <h5 class="card-title">Add product</h5>
                <p class="card-text">Adds a new product to the store (Goes live instantly)</p>
                <a href="/admin/addproduct" class="btn btn-primary pull-right">Go to product</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-shadow">
            <div class="card-body">
                <h5 class="card-title">Remove product</h5>
                <p class="card-text">Removes a product from the store (Goes live instantly)</p>
                <a href="/admin/removeproduct" class="btn btn-primary pull-right">Go to processing</a>
            </div>
        </div>
    </div>
        <div class="col-sm-4">
        <div class="card card-shadow">
            <div class="card-body">
                <h5 class="card-title">Add product</h5>
                <p class="card-text">Adds a new product to the store (Goes live instantly)</p>
                <a href="/admin/updateproduct" class="btn btn-primary pull-right">Go to product</a>
            </div>
        </div>
    </div>
</div>