<link href="/stylesheets/style.css" rel="stylesheet" >
<div class="footer bg-white">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/privacy-policy"><i class="fas fa-file-alt"></i><p>Privacy Policy</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/terms-of-service"><i class="fas fa-file-alt"></i><p>Terms of Service</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/refund-policy"><i class="fas fa-file-alt"></i><p>Refund Policy</p></a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="https://discord.gg/EFpZpZZ" target="_blank"><i class="fas fa-question-circle"></i><p>Support</p></a>
        </li>
    </ul>
</div>