  <!--<link href="/stylesheets/style.css" rel="stylesheet" >-->
  <div class="row mx-auto .ml-auto">
    <div class="col-md-3 col-md-offset-2"></div>
    <div class="col-md-6 col-md-offset-6">
        <div class="card-shadow">
            <form class="form-horizontal" role="form">
                <fieldset style="margin-top: 25%;">
                <!-- Form Name -->
                <legend class="pad-15" style="padding-top: 15px;">Address Details</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Line 1</label>
                    <div class="col-sm-12">
                    <input type="text" placeholder="Address Line 1" class="form-control">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Line 2</label>
                    <div class="col-sm-12">
                    <input type="text" placeholder="Address Line 2" class="form-control">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">City</label>
                    <div class="col-sm-12">
                    <input type="text" placeholder="City" class="form-control">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <div class="row pad-15">
                            <label class="col-sm-2 control-label" for="textinput">State</label>
                            <label class="col-sm-3 control-label lm-33p" for="textinput">Postal code</label>
                    </div>
                    <div class="row pad-15">
                        <div class="col-md-6" >
                            <input type="text" placeholder="State" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Postal Code" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Country</label>
                    <div class="col-sm-12">
                    <input type="text" placeholder="Country" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </div>
                </div>

                </fieldset>
            </form>
        </div>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->