<div class="row">
    <div class="col-md-4 col-md-offset-4"></div>
    <div class="col-md-5 col-md-offset-4" style="margin-top:19%">
        <div class="card card-shadow pad15-top pad30-right pad30-left">
            <h1>Sign In</h1>
            {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{# each messages }}
                        <p class="no-margin">{{ this }}</p>
                    {{/each}}
                </div>
            {{/if}}
            <form action="/user/signin" method="POST"> 
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"  placeholder="password">
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form> 
            <br />
            <p>Don't have and account? <a href="/user/signup">Singup instead!</a></p>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4"></div>
</div>