<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="card card-shadow pad30">
            <div class="section-1">
                <h2>RETURNS</h2>
                <p class="content">
                    Our policy lasts 14 days. If 14 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.<br/>
                    To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.<br/>
                    Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned.<br/>
                    We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.<br/>
                    Additional non-returnable items:
                    <ul>
                        <li>Gift cards</li>
                        <li>Downloadable software products</li>
                        <li>Some health and personal care items</li>
                    </ul>
                    To complete your return, we require a receipt or proof of purchase.<br/>
                    Please do not send your purchase back to the manufacturer.<br/>
                </p>
            </div>
            <div class="section-2">
                <h2>Refunds (if applicable)</h2>
                <p class="content">
                    Once your return is received and inspected, we will send you an email to notify you that we have received your returned item.<br/>
                    We will also notify you of the approval or rejection of your refund.<br/>
                    If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.<br/>
                </p>
            </div>
            <div class="section-3">
                <h2>Late or missing refunds (if applicable)</h2>
                <p class="content">
                    If you haven’t received a refund yet, first check your bank account again.<br/>
                    Then contact your credit card company, it may take some time before your refund is officially posted.<br/>
                    Next contact your bank. There is often some processing time before a refund is posted.<br/>
                    If you’ve done all of this and you still have not received your refund yet, please contact us at loke0046@gmail.com.<br/>
                </p>
            </div>
            <div class="section-4">
                <h2>Sale items (if applicable)</h2>
                <p class="content">
                    Only regular priced items may be refunded, unfortunately sale items cannot be refunded.<br/>
                </p>
            </div>
            <div class="section-5">
                <h2>Exchanges (if applicable)</h2>
                <p class="content">
                    We only replace items if they are defective or damaged.  <br/>
                    If you need to exchange it for the same item, send us an email at loke0046@gmail.com and send your item to: buskelundskoven 55, Silkeborg, 82, 8600, Denmark.<br/>
                </p>
            </div>
            <div class="section-6">
                <h2>Gifts</h2>
                <p class="content">
                    If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.<br/>
                    If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.<br/>
                </p>
            </div>
            <div class="section-7">
                <h2>Shipping</h2>
                <p class="content">
                    To return your product, you should mail your product to: buskelundskoven 55, Silkeborg, 82, 8600, Denmark.<br/>
                    You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.<br/>
                    Depending on where you live, the time it may take for your exchanged product to reach you, may vary.<br/>
                    If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.<br/>
                </p>
            </div>
        </div>
        <br/>
    </div>
</div>